<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/java_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/java_prism.css">
    <title>Java platforms</title>

</head>

<body>
   {{>java_header}}
    {{>java_menu}}
        <div class="content card" id="main_content">
            <h1 style="font-family: 'Calistoga', cursive;">Java</h1>
            <h3>Java Platforms</h3>
            <ol>
                <li>
                    <h4>JDK (Java Development Kit):</h4>
                    <p>JIT is a performance optimization technique used by modern JVMs. Instead of interpreting bytecode
                        line by line, the JIT compiler converts entire methods or code segments into native machine code
                        just before they are executed.</p>
                    <h5>Components:</h5>
                    <ul>
                        <li>Compiler: The Java Compiler (Javac) converts Java source code (.Java files) into bytecode
                            (.class files).</li>
                        <li>JRE: A subset of the JDK, the JRE includes the Java Virtual Machine (JVM) and libraries
                            required to run Java applications.</li>
                        <li>Development Tools: The JDK contains tools like Javac, Java, jar, and more for building,
                            testing, and packaging Java applications.</li>
                    </ul>
                </li>
                <li>
                    <h4>JVM (Java Virtual Machine):</h4>
                    <p> The JVM is a critical component of the Java platform. It is responsible for executing Java
                        bytecode (.class files) on the host system, providing the runtime environment for Java
                        applications.</p>
                    <h5>Functions</h5>
                    <ul>
                        <li>Bytecode Execution: The JVM interprets and executes Java bytecode, making it possible to run
                            Java applications on any platform with a compatible JVM.</li>
                        <li>Memory Management: It manages memory allocation and garbage collection, ensuring efficient
                            memory usage.</li>
                        <li>Just-In-Time Compilation (JIT): JVMs may employ JIT compilation to convert bytecode into
                            native machine code for faster execution.</li>
                    </ul>

                </li>
                <li>
                    <h4>JRE (Java Runtime Environment):</h4>
                    <p>The JRE is a subset of the JDK, primarily aimed at end-users who need to run Java applications.
                        It provides the runtime environment necessary to execute Java programs.</p>
                    <h5>Components</h5>
                    <ul>
                        <li>Java Class Libraries: The JRE includes the Java Standard Library, which contains
                            pre-compiled classes and methods used by Java applications.</li>
                        <li>
                            Java Virtual Machine (JVM): The JRE contains the JVM, which interprets and runs Java
                            bytecode.
                        </li>
                    </ul>
                </li>
                <li>
                    <h4>JIT (Just-In-Time Compilation):</h4>
                    <p>JIT is a performance optimization technique used by modern JVMs. Instead of interpreting bytecode
                        line by line, the JIT compiler converts entire methods or code segments into native machine code
                        just before they are executed.</p>
                </li>
            </ol>
            <div class="page_change">
                <a class="btn btn-primary next" href="/java_syntax">Next</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        function show_beginner() {
            document.getElementById('Beginner').style.display = 'block';
            document.getElementById('down_b').style.display = 'none';
            document.getElementById('up_b').style.display = 'inline';
        }
        function hide_beginner() {
            document.getElementById('Beginner').style.display = 'none';
            document.getElementById('down_b').style.display = 'inline';
            document.getElementById('up_b').style.display = 'none';
        }
        function show_intermediate() {
            document.getElementById('Intermediate').style.display = 'block';
            document.getElementById('down_i').style.display = 'none';
            document.getElementById('up_i').style.display = 'inline';
        }
        function hide_intermediate() {
            document.getElementById('Intermediate').style.display = 'none';
            document.getElementById('down_i').style.display = 'inline';
            document.getElementById('up_i').style.display = 'none';
        }
        function show_ds() {
            document.getElementById('data_structures').style.display = 'block';
            document.getElementById('down_ds').style.display = 'none';
            document.getElementById('up_ds').style.display = 'inline';
        }
        function hide_ds() {
            document.getElementById('data_structures').style.display = 'none';
            document.getElementById('down_ds').style.display = 'inline';
            document.getElementById('up_ds').style.display = 'none';
        }
        function show_oops() {
            document.getElementById('OOPS').style.display = 'block';
            document.getElementById('down_oops').style.display = 'none';
            document.getElementById('up_oops').style.display = 'inline';
        }
        function hide_oops() {
            document.getElementById('OOPS').style.display = 'none';
            document.getElementById('down_oops').style.display = 'inline';
            document.getElementById('up_oops').style.display = 'none';
        }
        function show() {
            document.getElementById('menu').style.transform = 'translate(260px)'
            document.getElementById('hide').style.display = 'block';
            document.getElementById('show').style.display = 'none';
            document.getElementById('main_content').style.marginLeft = '260px'
        }
        function hide() {
            document.getElementById('menu').style.transform = 'translate(-250px)';
            document.getElementById('show').style.display = 'block';
            document.getElementById('main_content').style.marginLeft = '0px'
        }
    </script>
    <script src="js/java_prism.js"></script>
</body>

</html>